body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
.p-val {
    font-weight: 500;
    font-size: 24px;
    margin-top: 12px;
}

/* Start Button */
.button{
    background-color: #C20C01;
    color: #FFFFFF;
    margin-top: 32px;
}

.button:hover{
    background: #990800;
    border: 1px solid #990800;
    color: #FFFFFF;
    transition: all .3s ease-in-out;
}
.btn-red{
    background: #C20C01;
    color: #FFFFFF;
}
.btn-red:hover{
    background: #990800;
    border: 1px solid #990800;
    color: #FFFFFF;
    transition: all .3s ease-in-out;
}
/* End Button */

/* Start Heading */
.heading{
    font-weight: 600;
    font-size: 28px;
    color: #C20C01;
    text-align: center;
}
.login-heading{
    color: #C20C01;
    padding: 16px;
}
/* End Heading */

/* Start Sub-heading */
.sub-heading{
    font-size: 24px;
    font-weight: 500;
    color: #C20C01;
    text-align: center;
}
.heading-left-about{
    font-weight: 600;
    font-size: 24px;
    color: #C20C01;
    text-align: center;
}
/* End Sub-Heading */

/* Start Body Text */
.bodytext{
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    text-align: justify;
    line-height: 1.8;
}
/* End Body Text */

/* Start Navbar */
.navbar{
    position: relative;
    z-index: 1;
}
.nav-custom{
    font-weight: 500;
    font-size: 16px;
}
.nav-custom .nav-link{
    margin-right: 40px;
}
.nav-active{
    color: #C20C01;
}
/* End Navbar */

/* Start Body */

/* Start Jumbotron */
.jumbotron-img-custom {
    width: 100%;
    height: 700px !important;
    object-fit: cover;
    object-position: center;
}

.jumbotron-custom-overlay {
    position: relative;
    background-color: #000000;
    overflow: hidden;
}

.jumbotron-custom-overlay::after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
}

.container {
    position: relative;
    z-index: 1;
}

.container-text {
    margin-top: 250px;
}
.hero-text{
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 500;
    margin-top: -80px;
}
.hero-text-bold-pid{
    font-weight: 700;
    color: #078fff;
}
.hero-text-bold-impala{
    font-weight: 700;
    color: #FA8E3F;
}
.img-responsive-center{
    text-align: center;
}
/* End Jumbotron */

/* Start Carousel */
.carousel-custom{
    position: relative;
    height: 500px;
    background-color: #000000;
    overflow: hidden;
}
.carousel-custom::after{
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
}
.carousel-caption{
    z-index: 1;
}
.img-featured{
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
}
.vsms-container{
    height: 400px;
    position: relative;
}
.vsms-img-featured{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.text-box{
    position: relative;
    margin-top: -350px;
    color: #FFFFFF;
}
.text-box h4{
    font-weight: 700;
    font-size: 20px;
}
.text-box p{
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    text-align: justify;   
}
    
/* End Carousel */

/* Start 3rdSection */
.card-custom{
    border-radius: 20px;
    min-height: 400px;
}
.card-img-custom{
    border-radius: 20px 20px 0px 0px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}
.card-title-custom{
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    padding-top: 16px;
}
.card-author{
    font-size: 12px;
    font-weight: 400;
    color: #B2B2B2;
}
.card-more{
    font-size: 14px;
    color: #C20C01;
    padding-top: 12px;
}
/* End 3rdSection */

/* Start 4th Section */
.btn-form-custom{
    background-color: #C20C01;
    color: #FFFFFF;
}
.btn-form-custom:hover{
    border: 1px solid #990800;
    background-color: #990800;
    color: #FFFFFF;
    transition: all .3s ease-in-out;
}
.page-link{
    color: #990800;
}
.page-item.active .page-link {
    color: #fff !important;
    background: #C20C01 !important;
    border: 1px solid #C20C01;
}
/* End 4th Section */

/* Start 5th Section */
#p-desc-values{
    font-weight: 500;
    font-size: 20px;
    line-height: 39px;
    text-align: center;
    color: #C20C01;
    font-style: italic;
}
/* End 5th Section */
/* Start Article */
.head-title h1{
    font-weight: 600;
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
}

.author h3{
    font-weight: 600;
    font-size: 16px;
    text-align: justify;
    color: #666666
}
.author h6{
    font-weight: 500;
    font-size: 12px;
    text-align: justify;
    color: #B2B2B2
}
.content p{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
}
.tag:hover {
    color:#C20C01 !important;
    transition: 0.5s ease-in-out;
}
/* End Article */

/* Start Program */
.blocks {
    display: flex;
}
.box1 {
    order: 1;
}
.box2 {
    order: 0;
}
/* End Program */

/* Start Footer */
/* Footer */
footer a{
    text-decoration: none;
}
.bg-footer{
    background-color:  #C20C01;
    text-align: center;
}

.footer-content-custom p{
    font-weight: 400;
    font-size: 16px;
    text-align: justify;
    color: white;
    margin-top: 20px;
}

.footer-content-custom .logo-footer{
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer-content-custom .sosmed{
    margin-inline: 4px;
    margin-bottom: 40px;
}

.footer-content-custom h6{
    font-weight: 600;
    font-size: 20px;
    color: white;
    margin-top: 20px;
}
/* End Footer */

/* Start Dashboard */
.img-dashboard{
    height: 50px;
    object-fit: contain;
    object-position: center;

}
tbody a{
    text-decoration: none;
}
/* End Dashboard */

/* ------------------------- TABLET VERSION ------------------------- */
@media (min-width: 768px) { 
    /* Start Button */
    .button{
        background-color: #C20C01;
        padding: 8px 16px;
        color: #FFFFFF;
        margin-top: 32px;
    }

    .button:hover{
        background: #990800;
        border: 1px solid #990800;
        color: #FFFFFF;
        transition: all .3s ease-in-out;
    }
    /* End Button */

    /* Start Heading */
    .heading{
        font-weight: 600;
        font-size: 24px;
        color: #C20C01;
        text-align: center;
    }
    .heading-left-about{
        font-weight: 600;
        font-size: 24px;
        color: #C20C01;
        text-align: left;
    }
    /* End Heading */

    /* Start Sub-heading */
    .sub-heading{
        font-size: 20px;
        font-weight: 500;
        color: #C20C01;
        text-align: center;
    }
    /* End Sub-Heading */

    /* Start Body Text */
    .bodytext{
        font-size: 16px;
        font-weight: 400;
        color: #666666;
        text-align: justify;
    }
    /* End Body Text */

    /* Start Jumbotron */
    .hero-text{
        font-size: 24px;
        color: #FFFFFF;
        font-weight: 500;
        margin-top: 0px;
    }
    .img-responsive-center{
        text-align: left;
    }
    /* End Jumbotron */

    /* Start Carousel */
    .text-box{
        position: relative;
        margin-top: -350px;
        color: #FFFFFF;
    }
    .text-box h4{
        font-weight: 700;
        font-size: 24px;
    }
    .text-box p{
        width: 70%;
        font-weight: 400;
        font-size: 20px;
        line-height: 1.8;
        text-align: justify;   
    }
    /* End Carousel */

    /* Start 5th Section */
    #p-desc-values{
        font-weight: 500;
        font-size: 24px;
        line-height: 39px;
        text-align: center;
        margin-left: 127px;
        margin-right: 127px;
        color: #C20C01;
        font-style: italic;
    }
    /* End 5th Section */
    /* Start Article */
    .head-title h1{
        font-weight: 600;
        font-size: 32px;
        line-height: 44px;
        text-align: center;
    }
    
    .author h3{
        font-weight: 600;
        font-size: 16px;
        text-align: justify;
        color: #666666
    }
    .author h6{
        font-weight: 500;
        font-size: 12px;
        text-align: justify;
        color: #B2B2B2
    }
    .content p{
        font-weight: 400;
        font-size: 16px;
        line-height: 2;
        text-align: justify;
    }
    /* End Article */
}



/* ------------------------- DESKTOP VERSION -------------------------*/
@media (min-width: 992px) { 
        /* Start Button */
        .button{
            background: #C20C01;
            padding: 8px 20px;
            color: #FFFFFF;
            margin-top: 32px;
        }

        .button:hover{
            background: #990800;
            border: 1px solid #990800;
            color: #FFFFFF;
            transition: all .3s ease-in-out;
        }
        /* End Button */

        /* Start Heading */
        .heading{
            font-weight: 600;
            font-size: 32px;
            color: #C20C01;
        }
        .heading-left{
            font-weight: 600;
            font-size: 32px;
            color: #C20C01;
            text-align: left;
        }
        /* End Heading */

        /* Start Sub-heading */
        .sub-heading{
            font-size: 24px;
            font-weight: 500;
            color: #C20C01;
        }
        .sub-heading-left{
            font-size: 24px;
            font-weight: 500;
            color: #C20C01;
            text-align: left;
        }
        /* End Sub-Heading */

        /* Start Body Text */
        .bodytext{
            font-size: 20px;
            font-weight: 400;
            color: #666666;
            text-align: justify;
        }
        /* End Body Text */


        /* Start Navbar */
        .navbar{
            position: relative;
            z-index: 1;
        }
        .nav-custom{
            margin-right: 150px;
            font-weight: 500;
            font-size: 16px;
        }
        .nav-custom .nav-link{
            margin-right: 40px;
        }
        .nav-active{
            color: #C20C01;
        }
        .nav-active::after{
            content: '';
            display: block;
            border-bottom: 2px solid #C20C01;
            width: 50%;
            margin: auto;
            padding-bottom: 4px;
        }
        .nav-active:hover{
            color: #C20C01;
        }
        .nav-link:hover{
            color: #C20C01;
        }
        .nav-link:hover::after{
            content: '';
            display: block;
            border-bottom: 2px solid #C20C01;
            width: 50%;
            margin: auto;
            padding-bottom: 4px;
        }
        /* End Navbar */

        /* Start Body */
        
        /* Start Jumbotron */
        .jumbotron-img-custom {
          width: 100%;
          height: 600px !important;
          object-fit: cover;
          object-position: center;
        }
        .jumbotron-custom-overlay {
          position: relative;
          background-color: #000000;
          overflow: hidden;
        }
        .jumbotron-custom-overlay::after {
            content: '';
            display: block;
            height: 100%;
            width: 100%;
            background: rgba(0, 0, 0, 0.5);
            position: absolute;
            bottom: 0;
        }
        .container-text{
          margin-top: 150px;
        }
        .hero-text-bold-pid{
            font-weight: 700;
            color: #078fff;
        }
        .hero-text-bold-impala{
            font-weight: 700;
            color: #FA8E3F;
        }
        .img-responsive-center{
            text-align: left;
        }
        /* End Jumbotron */

        /* Start Carousel */
        .vsms-container{
            height: 400px;
        }
        .vsms-img-featured{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
        .text-box{
            position: relative;
            margin-top: -325px;
            color: #FFFFFF;
        }
        .text-box h4{
            font-weight: 700;
            font-size: 32px;
        }
        
        .text-box p{
            width: 70%;
            font-weight: 400;
            font-size: 24px;
            line-height: 1.8;
            text-align: justify;   
        }
        /* End Carousel */

        /* Start second-section */
        .second-section {
            padding: 80px 0px;
        }
        /* End 2ndSection */
        
        /* Start 3rdSection */
        .card-custom{
            border-radius: 20px;
        }
        .card-img-custom{
            border-radius: 20px 20px 0px 0px;
        }
        .card-title-custom{
            font-size: 20px;
            font-weight: 600;
            padding-top: 16px;
        }
        .card-author{
            font-size: 12px;
            font-weight: 400;
            color: #B2B2B2;
        }
        .card-more{
            font-size: 16px;
            color: #C20C01;
            padding-top: 12px;
        }
        /* End 3rdSection */

        /* Start 4th Section */
        .btn-form-custom{
            background-color: #C20C01;
            color: #FFFFFF;
        }
        .btn-form-custom:hover{
            border: 1px solid #990800;
            background-color: #990800;
            color: #FFFFFF;
            transition: all .3s ease-in-out;
        }
        /* End 4th Section */

        /* Start 5th Section */
        #p-desc-values{
            font-weight: 500;
            font-size: 24px;
            line-height: 39px;
            text-align: center;
            margin-left: 127px;
            margin-right: 127px;
            color: #C20C01;
            font-style: italic;
        }
        /* End 5th Section */
        /* Start Article */
        .cover-img{
            width: 70%;
            margin: auto;
        }
        .head-title h1{
            width: 70%;
            font-weight: 600;
            font-size: 32px;
            line-height: 44px;
            text-align: center;
            margin: auto;
        }
        .author{
            margin: auto;
        }
        .author h3{
            font-weight: 600;
            font-size: 16px;
            text-align: justify;
            color: #666666
        }
        .author h6{
            font-weight: 500;
            font-size: 12px;
            text-align: justify;
            color: #B2B2B2
        }
        .content{
            width: 70%;
            margin: auto;
        }
        .content p{
            font-weight: 400;
            font-size: 16px;
            text-align: justify;
        }
        /* End Article */
        /* End Body */



        /* Footer */
        footer a{
            text-decoration: none;
        }
        .bg-footer{
            background-color:  #C20C01;
            text-align: left;
        }

        .footer-content-custom p{
            font-weight: 400;
            font-size: 20px;
            text-align: justify;
            color: white;
        }

        .footer-content-custom .logo-footer{
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .footer-content-custom .sosmed{
            margin-inline: 4px;
        }

        .footer-content-custom h6{
            font-weight: 600;
            font-size: 20px;
            color: white;
        }

        /* End Footer */
        #online-visitors-list {
        background-color: white;
        text-align: center;
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        font-weight: 300;
        font-size: 15px;
        color: #C20C01;
      }

      #online-visitors-list a {
        text-decoration: none;
        color: #C20C01;
        padding-left: 5px;
      }

      #online-visitors-list b {
        font-size: 30px;
        color: #C20C01;
      }
}

